{# src/LUCIE/RadiusBundle/Resources/views/Radcheck/add.html.twig #}

{% extends "LUCIERadiusBundle:Radcheck:layout.html.twig" %}

{% block body %}

  <h2>Ajouter une annonce</h2>

  {{ include("LUCIERadiusBundle:Radcheck:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}
